.pagination {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  list-style-type: none;
  align-items: baseline;
  padding: 1rem;
}
 .pagination__arrow {
   padding-top: 0.8rem;
   margin-left: 1rem;
   margin-right: 1rem;
   cursor: pointer;
 };
.pagination__page {
  display: flex;
  flex-flow: row nowrap;
  list-style-type: none;
};
.page {
  padding: 0.8rem 1rem 1rem;
  margin-right: 0.2rem;
  text-align: center;
  height: 25px;
  background-color: lightgray;
  border-radius: 2px;
  color: white;
  font-weight: 500;
  font-size: 18px;
  cursor: pointer;
}
.page--active {
  color: black;
}
.page--noactive {
  color: white;
}
