@import "../../styles/colors";

.autocomplete {
  position: relative;
  padding-bottom: 5px;
}
.autocomplete__icon {
  position: absolute;
  right: 5px;
  top: 30px;
  cursor: pointer;
}

.autocomplete__result {
  position: absolute;
  background-color: $white;
  border: 1px solid lightgrey;
  padding: 5px 0 5px 5px ;
  border-radius: 3px;
  width: 100%;
  z-index: 2000;
}

.autocomplete__result__item {
  padding-bottom: 3px;
  cursor: pointer;
  &:hover {
    background-color: $bright_grey;
  }
}
.autocomplete__result__item--active {
  background-color: $bright_grey;
}

.autocomplete__result__item--selected {
  background-color: $bright_red;
}