@import "../../styles/colors.scss";

.uploadButton {
  padding-top: 10px;
}

.uploadButton__text {
  font-size: 18px;
  font-weight: bolder;
  span {
    color: $font-color-danger;
    font-size: 20px;
  }

}
.uploadButton__icon {
  padding-right: 7px;
  font-size: 20px;
}

.uploadButton__input {
  display: none;
}
.uploadButton__image {
  margin-top: 10px;
}