$primary: #007bff;
$secondary: #d6d8d9;
$success: #28a745;
$info: #17a2b8;
$warning: #ffc107;
$danger: #FF0000;
$bright_red: #ff7f7f;
$bright_grey: #c0c5ce;

$font-color-primary: #004085;
$font-color-secondary: #383d41;
$font-color-danger: #721c24;
$font-color-success: #155724;
$font-color-warning: #856404;
$font-color-info: #0c5460;