.table {
  margin-top: 20px;
  .table__header {
    text-align: center;
    background-color: white;
  }
  thead {
    tr {
      .table__head {
        display: flex;
        align-items: baseline;
        justify-content: space-between;
        margin-bottom: 20px;
        border-bottom: none;
        padding: 0;
      }
    }
    td {
      padding: 4px 20px 4px 24px;
    }
  }
  .table__title {
    font-size: 22px;
    padding-right: 10px;
  }
  .table__row {
    &:hover {
      background-color: lightgray;
    }
  }
}
.table__row__pagination {
  td {
    border-bottom: none;
    &:hover {
      background-color: transparent;
    }
  }
}